[Unit]
Description=Test internetspeed and store result to InfluxDB
After=network.target
Wants=speedtest.timer

[Service]
Type=simple
User="user on system here"
ExecStart=/usr/bin/python3 "location of the app.py on system"

[Install]
WantedBy=speedtest.target